<h1>Technology Approach</h1>

<p>For the selective circularization capture assay, genomic DNA is initially subject to restriction enzyme digestion in separate tubes.
  Pooled capture oligonucleotides with end regions homologous to the genomic targets (two capture arms) are then hybridized to the restriction
  digested DNA, forcing the genomic DNA of the target into a circular conformation.  Addition of a second backbone vector with universal
  homology to the interior of all oligonucleotides completes the double-stranded DNA circle, after which blunt-end ligation takes place.
  Uracil-DNA excision mix is added to digest the selector oligonucleotides and linearize the DNA containing the targeted genomic regions.
  Universal PCR primers specific to the vector oligonucleotides are added and PCR amplification of the captured genomic region is carried
  out and then sequenced using next-generation DNA sequencers.  Two different molecular mechanisms mediate the target-specific circularization.
  In the first case, the oligonucleotide’s capture arms 1 and 2 recognize the complementary termini of the genomic DNA fragment created by both
  restriction sites.  In the second case, capture arm 1 of the target complementary end-sequence recognizes one fragment terminus and capture
  arm 2 specifically anneals to the target sequence anywhere within the restriction enzyme fragment.  For capture arm 2, the oligonucleotide
   - genomic DNA hybrid forms a branched structure, referred to as a flap in the absence of a restriction site.  This specific DNA flap structure
  is cleaved by the Taq polymerase, forming ends suitable for ligation of the universal vector and complete genomic circularization as in the first
  case.  This second case provides substantial design flexibility in regards to place capture sequences for any given target.</p>
  
<%= link_to 'Back', :back %>
