<table class="list">
  <tr>
    <th>Oligo name</th>
	<th>Plate#/Well</th>
  </tr>

<% for plate_position in pool.plate_positions %>
  <tr>
    <td><%=link_to plate_position.oligo_name, plate_position.synth_oligos[0] %></td>
	<td><%=h plate_position.plate_or_tube_name %>/<%=h plate_position.well_coord %></td>
  </tr>
<% end %>
</table>