<h1>Create new pool - Select parameters</h1>

<% form_tag({:action => :list_for_pool}, :method => :get) do %>
<%= render :partial => 'pool_from_plates' %>
<%= break_clear('<p>-OR-</p>')%>
<%= render :partial => 'pool_from_pools' %>

<%= break_clear(submit_tag "Submit")%>
<%end%>

