<h1>Oligos for new pool - Select parameters</h1>

<% form_tag({:action => :list_oligos}, :method => :get) do %>
<%= render :partial => 'pool_from_plates' %>

<%= render :partial => 'pool_from_pools' %>

<%= break_clear(submit_tag "Submit")%>
<%end%>

