@charset "UTF-8";
/* CSS Document */

/* 
   Styles mainly for OligoExome site
*/

/* form fieldset styles */

fieldset.form ol {
    list-style:none; 
    padding:.5em 1em 0 1em;
    margin: 0;
}
fieldset.form li {
    float:left; 
	clear:left; 
    width:100%;
    padding: 2px 0;
}
fieldset.form label {
    float:left; 
	width:9em; 
    margin-right: 1em;
    font-size: .9em;
}
fieldset.form label.radio {
    float:left; width:20em; 
    margin-right: 1em;
}
