
<fieldset class="form" style="padding-bottom:.5em;">
<legend><em>GENES</em></legend>
<ol>
<li>
<label style="width:300px">Enter Hugo gene codes separated by space,
or copy/paste from an Excel row or column.
Note: maximum of 400 genes may be selected<br />
<br />
<em>Example query</em><br />
<br />
brca1 brca2 tp53</span>
</label>
<textarea cols="25" id="genes" name="genes" rows="10"></textarea>
</li>
</ol>
</fieldset>







