<h1>Query Oligo Designs</h1>

<!--%= form_tag({:action => :index}, :method => :get) do %-->
<%= form_tag get_designs_path, :method => :get do %>
<fieldset class="form">
<legend>Specify parameters</legend>
<table class="form">
  <tr>
  	<th>Version(s):</th>
  	<td><%= collection_select(:version, :id, @versions.reverse!, :id, :version_id_name, {:include_blank => 'Select..'},
                              :onchange => "$.post('#{gene_list_path}', {'_method':'put', 'version_id':$(this).attr('value')} );")%> </td>
                           <!--  {:onChange => remote_function(:url=> {:action=> :get_gene_list},
                              :with=> "'version_id=' + this.value" )})%></td>  -->
  </tr>
</table>
<div id="gene_list"></div>
</fieldset>

<%= raw break_clear(submit_tag "Submit") %>
<%end%>
