<h1>Welcome</h1>
<p> SGTC Oligo DB is a scalable oligonucleotide management system for genomic analysis and high-throughput resequencing. Targeted selection oligonucleotides will cover all known exons and regulatory regions from the human genome. </p> 
<br />
<br />

<%if !current_user%> <hr> <%= render :partial => 'user_login' %> 
<% else %>              
<p class="notes">Please select one of the options on the left </p>
<% end %>


