<table class="form">
  	<tr>
  	  <th>Vector Sequence: </th>
	  <td><%= f.text_field :vector, :size => 80 %></td>
	</tr>
	
	<tr>
	  <th>U Vector Sequence</th>
	  <td><%= f.text_field :u_vector, :size => 80 %></td>
	</tr>
  </table>