<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Oligo Exonome DB</title>
	</head>
	<body>
	  <h1> Welcome</h1>
      <br />
      <br />
      <p> SGTC Oligo DB is a scalable oligonucleotide management system for genomic analysis</p>
      <p> and high-throughput resequencing.  Targeted selection oligonucleotides will cover</p>
      <p> all known exons and regulatory regions from the human genome. </p> 
      <br />
      <br />
	</body>
</html>
